<h3>Welcome to {{location.locality}}</h3>
<div class="hero-unit">
  <div id="fb-root">
      <div class="ng-cloak" ng-show="user.connected">
      Hello {{user.first_name}}!
      </div>

      <div class="ng-cloak" ng-hide="user.connected">
        Wait
      </div>

  </div>

  <span id="list" ng-show="showFriendList">
      <ul class="unstyled">
         <li ng-repeat="friend in friends">
            <img src="https://graph.facebook.com/{{friend.id}}/picture">
            <input type="checkbox" ng-model="selectedFriends[friend.id]" />{{friend.name}}
        </li>
      </ul>

      <form class="section red" id="subscription-form">
          <button class="subscription-submit" id="subscription-submit" ng-click="spamMe()">Spam me</button>
      </form>
  </span>
</div>
